.task{
    background-color: var(--gray-500);
    border-radius: 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.task > div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    gap: 12px;
}
.task > button{
    background: transparent;
    border: 0;
    cursor: pointer;
    color: var(--gray-300);
    padding: 1rem;
   
}
p{
    color: var(--gray-100);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0;
}

.CheckboxRoot {
    background-color: transparent;
    cursor: pointer;
    width: 1.090rem;
    height: 1.090rem;
    border-radius: 99px;
    border: 2px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.CheckboxIndicator {
    color: var(--gray-100);
    cursor: pointer;
    width: 1.090rem;
    height: 1.090rem;
    border-radius:99px;
    background-color: var(--purpleDark);
    border: 2px solid var(--purpleDark);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.TextTasknot{
    color: var(--gray-300);
    text-decoration:line-through;
}